* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(
        rgb(231, 184, 80),
        rgb(231, 184, 80),
        rgb(0, 51, 102)
    );
    color: white;
}

#login-button {
    background-color: black;
    cursor: pointer;
    height: 5%;
    width: 5%;
    color: white;
    position: fixed;
    right: 900px;
    top: 0px;
    padding-right: 10px;
    font: bold 20px/40px American Typewriter, serif;
    padding-top: 0px;
}

.logo {
    height: 220px;
    position: fixed;
    right: 0;
    top: 0;
    padding-right: 20px;
}

.location,
.temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temperature {
    flex-direction: column;
    font: bold 40px/80px American Typewriter, serif;
}

.degree-section {
    display: flex;
    align-items: center;
    font: bold 20px/40px American Typewriter, serif;
}

.degree-section span {
    margin: 10px;
    font-size: 60px;
}

.degree-section h2 {
    font-size: 40px;
}

h1 {
    font: bold 60px/120px American Typewriter, serif;
}

h6 {
    height: auto;
    color: white;
    font: bold 25px/25px American Typewriter, serif;
    text-align: left;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 60px;
    padding-left: 30px;
}

.flex-container-one {
    background-image: linear-gradient(rgb(82, 82, 82), white);
    position: fixed;
    /* column-count: 1; */
    left: 10px;
    column-gap: 0;
    border-radius: 25px;
    top: 150px;
    /* border: 2px solid #73AD21; */
    padding: 20px;
    width: 15%;
    height: 70%;
    float: left;
    /* padding-left: 60px; for text inside */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    /* border-style: inset; */
}

footer {
    height: auto;
    position: fixed;
    bottom: 0;
    font: bold 17px/17px American Typewriter;
}
