body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(rgb(231,184,80), rgb(231,184,80), rgb(238, 243, 169))
    }
    /* ,rgb(255,255,153)) */

.temp {
    height:auto;
    color:white;
    font: bold 25px/25px American Typewriter, serif;
    text-align: center;
    z-index: 6;
    padding-bottom: 300px;
    font: bold 60px/60px American Typewriter, serif;
    }

.weather-emoji  {
    height:auto;
    color:white;
    padding-bottom: 160px;
    padding-left: 600px;
    font: bold 30px/30px American Typewriter, serif;
    }

#login-button{
    background-color: black;  
    cursor: pointer;
  height: 5%;
  width: 5%;
  color: white;
  position: fixed;
  right: 900px;
  top: 0px;
  padding-right:10px;
  font: bold 20px/40px American Typewriter, serif;
  padding-top: 0px;
}

.logo {
    height:220px;
    position: fixed;
    right: 0;
    top:0;
    padding-right: 20px;
   
    }

footer {
    height:auto;
    position: fixed;
    bottom: 0;
    right: 0;
    font: bold 17px/17px American Typewriter;
    }

.city {
    height:auto;
    color: white;
    font: bold 80px/80px American Typewriter, serif;
    z-index: 4;
    padding-bottom: 100px;
    padding-left: 300px
    }

.temperature-description{
    height:auto;
    color: white;
    font: bold 15px/15px American Typewriter, serif;
    }

/* h5 {
    height:auto;
    color: white;
    font: bold 30px/30px American Typewriter, serif;
    text-align: center;
    padding-top: 200px;
    padding-left: 80px;
    } */

h6 {
    height:auto;
    color: white;
    font: bold 25px/25px American Typewriter, serif;
    text-align: left;
    position: fixed;
    left: 0;
    top:0;
    padding-top: 60px;
    padding-left: 30px;
    }

.flex-container-one {
        background-image: linear-gradient(rgb(82, 82, 82), white);
        position: fixed;
        column-count: 7;
        left: 10px;
        column-gap: 0;
        border-radius: 25px;
        top: 150px;
        /* border: 2px solid #73AD21; */
        padding: 20px;
        width: 15%;
        height: 70%;
        float: left;
        /* padding-left: 60px; for text inside */
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
        /* border-style: inset; */
    }

.flex-container-two {
        position: fixed;
        column-count: 7;
        column-gap: 0;
        border-radius: 25px;
        left: 450px;
        top: 650px;
        /* border: 2px solid #73AD21;   */
        padding: 20px;
        width: 13%;
        height: 25%;
        float: center;
        /* padding-left: 60px; for text inside  */
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
        /* border-style: inset; */
    }

.flex-container-three {
        position: fixed;
        column-count: 7;
        column-gap: 0;
        border-radius: 25px;
        left: 725px;
        top: 650px;
        padding: 20px;
        width: 13%;
        height: 25%;
        float: center;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    }

.flex-container-four {
        position: fixed;
        column-count: 7;
        column-gap: 0;
        border-radius: 25px;
        left: 1000px;
        top: 650px;
        padding: 20px;
        width: 13%;
        height: 25%;
        float: center;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    }

    .flex-container-five {
        position: fixed;
        column-count: 7;
        column-gap: 0;
        border-radius: 25px;
        left: 1275px;
        top: 650px;
        padding: 20px;
        width: 13%;
        height: 25%;
        float: center;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    }

    .flex-container-six {
        position: fixed;
        column-count: 7;
        column-gap: 0;
        border-radius: 25px;
        left: 1550px;
        top: 650px;
        padding: 20px;
        width: 13%;
        height: 25%;
        float: center;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(134, 41, 41, 0.19);
    }

    /* .dynamic-background-box {
        position: fixed;
        border-radius: 25px;
        width: 60%;
        height: 60%;
        float: center;
        left: 460px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(134, 41, 41, 0.19);
        } */

    .image {
        width: 100%;
        height: 100%;
        float: center;
        position: absolute;
        z-index: 0;
}
    .priority {
        z-index: 100;
        position: absolute;
        padding-left: 475px;
        padding-top: 300px;
}

#dropdown-button {
    width: 250px;
}

#city-button {
  width: 250px;
}
