

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient( rgb(231, 184, 80), rgb(231, 184, 80), rgb(0, 51, 102));
    color: white;
}

#login-button {
    background-color: rgb(204, 200, 200);
    cursor: pointer;
    height: 5%;
    width: 5%;
    color: black;
    position: fixed;
    right: 900px;
    top: 10px;
    padding-right: 20px;
    font: bold 20px/40px American Typewriter, serif;
    padding-top: 10px;
    border-radius: 10px;
    border-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-width: 1.75px;
}

.logo {
    height: 220px;
    position: fixed;
    right: 0;
    top: 0;
    padding-right: 20px;
}
.location,
.temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.temperature {
    flex-direction: column;
    font: bold 40px/80px American Typewriter, serif;
}
.degree-section {
    display: flex;
    align-items: center;


}
.degree-section span {
    margin: 10px;
    /* font-size: 60px; */

}
.degree-section h2 {
    /* font-size: 40px; */
}
h1 {
    font: bold 60px/120px American Typewriter, serif;

}
h6 {
    height: auto;
    color: white;
    font: bold 25px/25px American Typewriter, serif;
    text-align: left;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 60px;
    padding-left: 30px;
}
.flex-container-one {
    background-color: rgb(204, 200, 200);
    position: fixed;
    left: 10px;
    border-radius: 25px;
    top: 150px;
    padding: 20px;
    width: 13%;
    height: 70%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-color: white;
    border-radius: 10px;
    border-width: 1.75px;
}
footer {
    height: auto;
    position: fixed;
    bottom: 0;
    font: bold 17px/17px American Typewriter, serif;
    right: 20px;
}
 .button {
    cursor: pointer;
 }

.icon {
    padding-right: 6em;
    padding-left: 0;
    width: 14%;
    ;
}

.dropdown-trigger {
    align-items: center;

}
