body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(rgb(140, 176, 242), rgb(255, 255, 153));
}

h3 {
    height: auto;
    color: rgb(89, 89, 89);
    font: bold 25px/25px American Typewriter, serif;
    text-align: center;
}

p {
    height: auto;
    color: white;
    text-align: center;
}

#login-button {
    height: auto;
    color: white;
    position: fixed;
    right: 1000px;
    top: 10px;
    padding-right: 40px;
    font: bold 30px/60px American Typewriter, serif;
    padding-top: 0px;
    z-index: 2;
}

h1 {
    height: auto;
    color: white;
    position: fixed;
    right: 0;
    top: 0;
    padding-right: 60px;
    font: bold 60px/60px American Typewriter, serif;
    padding-top: 30px;
}

footer {
    height: auto;
    position: fixed;
    bottom: 0;
    right: 0;
    font: bold 17px/17px American Typewriter;
}

h2 {
    height: auto;
    color: rgb(89, 89, 89);
    font: bold 25px/25px American Typewriter, serif;
    text-align: center;
}

h4 {
    height: auto;
    color: rgb(89, 89, 89);
    font: bold 15px/15px American Typewriter, serif;
    text-align: center;
}

h5 {
    height: auto;
    color: white;
    font: bold 30px/30px American Typewriter, serif;
    text-align: center;
    padding-top: 200px;
    padding-left: 80px;
}

h6 {
    height: auto;
    color: white;
    font: bold 25px/25px American Typewriter, serif;
    text-align: left;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 60px;
    padding-left: 30px;
}

.flex-container-one {
    position: fixed;
    column-count: 7;
    left: 10px;
    column-gap: 0;
    border-radius: 25px;
    top: 150px;
    /* border: 2px solid #73AD21; */
    padding: 20px;
    width: 15%;
    height: 70%;
    float: left;
    /* padding-left: 60px; for text inside */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    /* border-style: inset; */
}

.flex-container-two {
    position: fixed;
    column-count: 7;
    column-gap: 0;
    border-radius: 25px;
    left: 450px;
    top: 650px;
    /* border: 2px solid #73AD21;   */
    padding: 20px;
    width: 13%;
    height: 25%;
    float: center;
    /* padding-left: 60px; for text inside  */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    /* border-style: inset; */
}

.flex-container-three {
    position: fixed;
    column-count: 7;
    column-gap: 0;
    border-radius: 25px;
    left: 725px;
    top: 650px;
    padding: 20px;
    width: 13%;
    height: 25%;
    float: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.flex-container-four {
    position: fixed;
    column-count: 7;
    column-gap: 0;
    border-radius: 25px;
    left: 1000px;
    top: 650px;
    padding: 20px;
    width: 13%;
    height: 25%;
    float: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.flex-container-five {
    position: fixed;
    column-count: 7;
    column-gap: 0;
    border-radius: 25px;
    left: 1275px;
    top: 650px;
    padding: 20px;
    width: 13%;
    height: 25%;
    float: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.flex-container-six {
    position: fixed;
    column-count: 7;
    column-gap: 0;
    border-radius: 25px;
    left: 1550px;
    top: 650px;
    padding: 20px;
    width: 13%;
    height: 25%;
    float: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
/* span {

} */

#dropdown-button {
    width: 250px;
}

#city-button {
    width: 250px;
}
